<div id="appointmentsView" class="view container">
    <div class="row">
        <div class="col-xs-12" data-ng-include="'app/widgets/calendar.html'">
        </div>
    </div>
</div>

<!-- Appointment Modal -->

<script type="text/ng-template" id="appointmentModal.html">
    <div class="modal-header">
        <button type="button" class="close" ng-click="$close()"><i class="fa fa-times"></i></button>
        <h4 class="modal-title">{{vm.appointment.service}}</h4>
    </div>
    <div class="modal-body">
        <address>
            <strong>{{vm.appointment.client}}</strong><br />
            {{vm.appointment.address.street}}<br />
            {{vm.appointment.address.city}},
            {{vm.appointment.address.state}},
            {{vm.appointment.address.zip}}<br />
        </address>
    </div>
    <div class="modal-footer">
        <button class="btn btn-default" ng-click="$close()">Confirm</button>
    </div>
</script>
